{
  "arrowParens": "avoid",
  "semi": false,
  "importOrder": [
    "^@components=/(.*)$",
    "^@types=/(.*)$",
    "^@utils=/(.*)$",
    "^@images=/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
